<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.follow.mapper.FollowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="followResultMap" type="org.springblade.modules.follow.pojo.entity.FollowEntity">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="uid" property="uid"/>
        <result column="fid" property="fid"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectFollowPage" resultMap="followResultMap">
        select * from t_follow where is_deleted = 0
    </select>


    <select id="exportFollow" resultType="org.springblade.modules.follow.excel.FollowExcel">
        SELECT * FROM t_follow ${ew.customSqlSegment}
    </select>


    <select id="getAllFollowTrends" resultType="org.springblade.modules.system.pojo.vo.TrendVO">
        SELECT
            i.id as mid,
            i.status as status,
            i.update_time as time,
            i.imgs_url as imgs_url,
            i.cover as cover,
            i.content,
            i.agree_count,
            i.comment_count,
            a.id as album_id,
            a.name as album_name,
            u.id AS user_id,
            u.name AS username,
            u.avatar AS avatar,
            CASE WHEN EXISTS (
                SELECT 1
                FROM t_agree_collect ac
                WHERE ac.agree_collect_id = i.id
                  AND ac.type = 1
                  AND ac.uid = #{uid}
                  AND ac.is_deleted = 0
            ) THEN 1 ELSE 0 END AS is_agree
        FROM
            t_img_detail AS i
            INNER JOIN t_follow AS fu
                ON fu.fid = i.user_id
               AND fu.uid = #{uid}
               AND fu.is_deleted = 0
            LEFT JOIN blade_user AS u ON i.user_id = u.id
            LEFT JOIN (
                SELECT air.mid, MIN(air.aid) AS aid
                FROM t_album_img_relation air
                WHERE air.is_deleted = 0
                GROUP BY air.mid
            ) AS air ON i.id = air.mid
            LEFT JOIN t_album AS a ON a.id = air.aid AND a.uid = i.user_id AND a.is_deleted = 0
        WHERE
            i.status = 1
            AND i.is_deleted = 0
        ORDER BY
            i.update_time DESC
            LIMIT ${offset},${limit}
    </select>

</mapper>
