<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.pointsrule.mapper.PointsRuleMapper">

    <select id="selectPointsRulePage" resultType="org.springblade.modules.pointsrule.pojo.vo.PointsRuleVO">
        select * from points_rule where is_deleted = 0
    </select>

    <select id="exportPointsRule" resultType="org.springblade.modules.pointsrule.excel.PointsRuleExcel">
        select * from points_rule
    </select>

</mapper>
