<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.usercoupon.mapper.UserCouponMapper">

    <select id="selectUserCouponPage" resultType="org.springblade.modules.usercoupon.pojo.vo.UserCouponVO">
        select * from user_coupon where is_deleted = 0
    </select>

    <select id="exportUserCoupon" resultType="org.springblade.modules.usercoupon.excel.UserCouponExcel">
        select * from user_coupon
    </select>

</mapper>
