<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.authtemplatepreset.mapper.AuthTemplatePresetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="authTemplatePresetResultMap" type="org.springblade.modules.authtemplatepreset.pojo.entity.AuthTemplatePresetEntity">
        <result column="id" property="id"/>
        <result column="template_type" property="templateType"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="component_type" property="componentType"/>
        <result column="required" property="required"/>
        <result column="placeholder" property="placeholder"/>
        <result column="max_count" property="maxCount"/>
        <result column="hint" property="hint"/>
        <result column="identity_scope" property="identityScope"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="status" property="status"/>
        <result column="ext_json" property="extJson"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <select id="selectAuthTemplatePresetPage" resultMap="authTemplatePresetResultMap">
        select * from ldqc_auth_template_preset where is_deleted = 0
    </select>


    <select id="exportAuthTemplatePreset" resultType="org.springblade.modules.authtemplatepreset.excel.AuthTemplatePresetExcel">
        SELECT * FROM ldqc_auth_template_preset ${ew.customSqlSegment}
    </select>

</mapper>
