<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.userauthfile.mapper.UserAuthFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userAuthFileResultMap" type="org.springblade.modules.userauthfile.pojo.entity.UserAuthFileEntity">
        <result column="id" property="id"/>
        <result column="apply_id" property="applyId"/>
        <result column="auth_type_code" property="authTypeCode"/>
        <result column="file_type" property="fileType"/>
        <result column="file_name" property="fileName"/>
        <result column="file_url" property="fileUrl"/>
        <result column="is_main" property="isMain"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


    <select id="selectUserAuthFilePage" resultMap="userAuthFileResultMap">
        select * from ldqc_user_auth_file where is_deleted = 0
    </select>


    <select id="exportUserAuthFile" resultType="org.springblade.modules.userauthfile.excel.UserAuthFileExcel">
        SELECT * FROM ldqc_user_auth_file ${ew.customSqlSegment}
    </select>

</mapper>
