<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.albumimgrelation.mapper.AlbumImgRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="albumImgRelationResultMap" type="org.springblade.modules.albumimgrelation.pojo.entity.AlbumImgRelationEntity">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="aid" property="aid"/>
        <result column="mid" property="mid"/>
        <result column="sort" property="sort"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectAlbumImgRelationPage" resultMap="albumImgRelationResultMap">
        select * from t_album_img_relation where is_deleted = 0
    </select>


    <select id="exportAlbumImgRelation" resultType="org.springblade.modules.albumimgrelation.excel.AlbumImgRelationExcel">
        SELECT * FROM t_album_img_relation ${ew.customSqlSegment}
    </select>

</mapper>
