<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.sportinviteauditlog.mapper.SportInviteAuditLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sportInviteAuditLogResultMap" type="org.springblade.modules.sportinviteauditlog.pojo.entity.SportInviteAuditLogEntity">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="invite_id" property="inviteId"/>
        <result column="apply_id" property="applyId"/>
        <result column="audit_user_id" property="auditUserId"/>
        <result column="audit_action" property="auditAction"/>
        <result column="audit_remark" property="auditRemark"/>
    </resultMap>


    <select id="selectSportInviteAuditLogPage" resultMap="sportInviteAuditLogResultMap">
        select * from ldqc_sport_invite_audit_log where is_deleted = 0
    </select>


    <select id="exportSportInviteAuditLog" resultType="org.springblade.modules.sportinviteauditlog.excel.SportInviteAuditLogExcel">
        SELECT * FROM ldqc_sport_invite_audit_log ${ew.customSqlSegment}
    </select>

</mapper>
