<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.userthree.mapper.UserThreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userThreeResultMap" type="org.springblade.modules.userthree.pojo.entity.UserThreeEntity">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="oauth_id" property="oauthId"/>
        <result column="union_id" property="unionId"/>
        <result column="source" property="source"/>
        <result column="access_token" property="accessToken"/>
        <result column="avatar" property="avatar"/>
        <result column="username" property="username"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectUserThreePage" resultMap="userThreeResultMap">
        select * from blade_user_three where is_deleted = 0
    </select>


    <select id="exportUserThree" resultType="org.springblade.modules.userthree.excel.UserThreeExcel">
        SELECT * FROM blade_user_three ${ew.customSqlSegment}
    </select>

</mapper>
