<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.springblade.modules.comment.mapper.CommentMapper">

    <select id="getAllReplyComment" resultType="org.springblade.modules.comment.pojo.vo.CommentVO">
        SELECT
            c.id,
            c.content,
            c.create_time,
            c.uid,
            u.name as username,
            u.avatar,
            c.reply_id,
            ru.name as reply_name,
            null as reply_uid,
            null as reply_content,
            i.id as mid,
            i.cover as cover
        FROM
            t_comment c
            JOIN t_img_detail i ON c.mid = i.id
            LEFT JOIN blade_user u ON c.uid = u.id
            LEFT JOIN blade_user ru ON c.reply_uid = ru.id
        WHERE
            i.user_id = #{uid} and c.uid != #{uid}
            AND (c.pid = 0 OR c.pid IS NULL)

        UNION

        SELECT DISTINCT
            c.id,
            c.content,
            c.create_time,
            c.uid,
            u.name as username,
            u.avatar,
            c.reply_id,
            ru.name as reply_name,
            s.uid as reply_uid,
            s.content AS reply_content,
            i.id as mid,
            i.cover as cover
        FROM
            t_comment c
            INNER JOIN t_img_detail i ON c.mid = i.id
            LEFT JOIN t_comment s ON c.reply_id = s.id
            LEFT JOIN blade_user u ON c.uid = u.id
            LEFT JOIN blade_user ru ON c.reply_uid = ru.id
        WHERE
            i.user_id = #{uid} and c.uid != #{uid}
            AND c.pid != 0

        UNION

        SELECT
            s.id,
            s.content,
            s.create_time,
            s.uid,
            u.name as username,
            u.avatar,
            s.reply_id,
            ru.name as reply_name,
            c.uid as reply_uid,
            c.content AS reply_content,
            i.id as mid,
            i.cover as cover
        FROM
            t_comment c
            LEFT JOIN t_comment s ON s.reply_id = c.id
            LEFT JOIN t_img_detail i on s.mid = i.id
            LEFT JOIN blade_user u ON s.uid = u.id
            LEFT JOIN blade_user ru ON s.reply_uid = ru.id
        WHERE
            c.uid = #{uid} and s.uid != #{uid}

        ORDER BY
            create_time DESC
    </select>

    <select id="getAllTrendCommentByImage" resultType="org.springblade.modules.comment.pojo.vo.CommentVO">
        SELECT
            c.*,
            u.name AS username,
            u.avatar AS avatar
        FROM
            t_comment c
            LEFT JOIN blade_user u ON c.uid = u.id
        WHERE
            c.mid = #{mid}
            AND (c.pid IS NULL OR c.pid = 0)
        ORDER BY
            c.count DESC,
            c.create_time DESC
    </select>

</mapper>