<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.springblade.modules.social.mapper.FollowMapper">

	<select id="getAllFollowTrends" resultType="org.springblade.modules.social.pojo.vo.TrendVo">
		-- 查询当前用户关注的所有动态
		SELECT
			i.id as mid,
			i.imgs_url,
			i.content,
			i.agree_count,
			i.comment_count,
			i.update_time as time,
			a.id as album_id,
			a.name as album_name,
			u.id AS user_id,
			u.name AS username,
			u.avatar AS avatar,
			if(ac.uid != '' ,1,0) as is_agree
		FROM
			t_img_detail AS i
			LEFT JOIN blade_user AS u ON i.user_id = u.id
			LEFT JOIN t_album_img_relation as air on i.id = air.mid
			LEFT JOIN t_album as a on a.id = air.aid
			LEFT JOIN t_agree_collect as ac on ac.agree_collect_id = i.id and ac.type =1 and ac.uid = #{uid}
		WHERE
			(i.user_id in (SELECT fid from t_follow where uid = #{uid} ) or i.user_id = #{uid} )
			and a.uid = i.user_id
			and i.status = 1
		ORDER BY
			i.update_time DESC
		LIMIT ${(page-1)*limit},${limit}
	</select>

</mapper>

